{% include 'html-header.twig' %}

{% block fonts %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:300,400,700">
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{theme.path}}/dist/css/site.css" type="text/css" media="screen"/>
{% endblock %}

<body class="{{body_class}}">
	{% block header %}
		{% include 'headers/header.twig' %}
	{% endblock %}
		<main role="main">

	    <section class="hero">
	{% block hero %}

	{% endblock %}
		</section>

		{% block content %}
			Sorry, no content
		{% endblock %}
	</main>

	{% block footer %}
		{% include 'footers/footer.twig' %}
		{{ function('wp_footer') }}
		{% block page_scripts %}
			<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
				<script type="text/javascript" src="{{site.theme.path}}/dist/js/lib/jquery.scrollTo.js"></script>
				<script type="text/javascript" src="{{site.theme.path}}/dist/js/global.js"></script>-->
		{% endblock %}
	{% endblock %}
</body></html>
